<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Posse Challenges</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="about">
      <div class="container">
        <header>
          <div class="header-content" >
            <div>
              <p id="header-heading"> <b>About</b> Us</p>
                  <hr />
              <p id="header-info"> Lorem ipsum dolor sit amet, modo sonet probatus ea eam. Qui dicam oratio an, eum veniam dolorum ad, te sed semper audire. </p>
            </div>
          </div>
        </header>
        <section>
          <h3 id="section-heading"></h3>
          <ul>
            <li>
              <h4>DESIGN / STRATEGY</h4>
              <p>We know what it takes to create a successful mobile experience. We can help you define and desgin something truly special.</p>
            </li>
            <li>
              <h4>HARDWARE / WEARABLES</h4>
              <p>We integrate with the latest developments in hardware. iBeacon, VR, wearables...we've got you covered.</p>
            </li>
            <li>
              <h4>HARDWARE / WEARABLES</h4>
              <p>We integrate with the latest developments in hardware. iBeacon, VR, wearables...we've got you covered.</p>
            </li>
            <li>
              <h4>HARDWARE / WEARABLES</h4>
              <p>We integrate with the latest developments in hardware. iBeacon, VR, wearables...we've got you covered.</p>
            </li>
          </ul>
        </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/public/bundle.js"></script>
  </body>
</html>
